extends layout

block meta
    title="Download App"

block content
    div(class="container")
        h1(class="form__title")= title

        <button href="itms-services://?action=download-manifest&url=#{server}/previewapps/#{magazine}/manifest.plist" class="form__button">Install</button>

        br
        br
        a(class="form__link" href="/") Back to Login