extends layout

block meta
    title="Download App"

block content
    div(class="container")
        h1(class="form__title")= title

        button(class="form__button")
            <a class="form__button--link" href="itms-services://?action=download-manifest&url=#{server}/previewapps/#{magazine}/manifest.plist">Install</a>

        p(class="form__link")
            a(href="/" class="form__link") Back to Sign In