extends layout

block content
    h1= title
    p #{title} Preview App

    <a href="itms-services://?action=download-manifest&url=https://stagpublish.condenast.com:3000/previewapps/#{title}/manifest.plist">Install App</a>