extends layout

block meta
    title="Download App"

block content
    div(class="container")
        h1(class="form__title")= title

        div(class="form__button")
            <a href="itms-services://?action=download-manifest&url=#{server}/previewapps/#{magazine}/manifest.plist">Install</a>

        p(class="form__link")
            a(href="/") Back to Sign In