//extends layout

html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title="Download Preview App"
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap' rel='stylesheet')
        link(rel='stylesheet', href='/stylesheets/style.css')
        
    body

        block content

            div(class="container")
                div
                    h1(class="form__title") #{title}
                    p(class="form__message") CNPreview #{title}

                form#new_post.new_post(method='post', action='/posts')
                  .field(class="form__input-group")
                      label(class="form__text" for='email') Email
                      br
                      input(class="form__input")#email(type='text', name='email', size='30')
                  .field(class="form__input-group")
                    label(class="form__text" for='password') Password
                    br
                    input(class="form__input")#password(type='password', name='password')
                    br
                  .actions
                    input(class="form__button")#post_submit(type='submit', value='Download Preview App')
