extends layout

block meta
  title="Error"

block content
  div(class="container")
    pre(class="form__message--error") #{error.stack}

    p(class="form__link")
      a(href="/" class="form__link") Back to Sign In
