extends layout

block meta
  title="Error"

block content
  div(class="container")
    h1(class="form__title")= message
    h2(class="form__message--status")= error.status
    pre(class="form__message--error") #{error.stack}
